<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2019/blob/master/day1_python/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 #  Python Data Types

## PETE 2061 Lab 2 Workbook 

## THIS IS DUE BY 10:20 AM TODAY

<a id='top'></a>

<a id='variables'></a>
## Decline Curve Analysis
Wells A, B, and C flow with an initial flow rate ($q_i$) of 5,000 bopd (barrels of oil per day), and have a continuous initial decline rate ($D_i$) of 20% per year. Well A declines exponentially, while well B declines hyperbolically, with a b-exponent of 0.5, and well C declines harmonically (this means that b = 1). <br><br>

Step 1. Import the math library (so that the exponential function is available). <br>

In [3]:
import math

Step 2. Create variables named q_i, D_i and b, and assign them to the given initial flow rate, initial decline rate, and hyperbolic b-exponent of 0.5, respectively. <br>

In [8]:
q_i = 5000 #initial flow rate of barrels of oil per day
D_i = .80 #20 percent initial decline rate per year
b = 0.5 #exponent of .5 and b = 1

Step 3. Using the list() and range() functions, create a list named t, and use it store time in years; starting from 0 to 3 years, and in increments of 1 year. The first item in list t will be 0, and the last item will be 3.<br>

In [11]:
mylist = [0,1,2,3]
t = mylist
print(t)

[0, 1, 2, 3]

Step 4. Create a list named q_A, and fill it with four zeros. <br>

In [12]:
mylist = [0,0,0,0]
q_A = mylist
print(q_A)

[0, 0, 0, 0]

Step 5. Also create lists named q_B and q_C and let them store four zeros each. Note that q_A, q_B and q_C correspond to the flow rates of wells A, B and C, respectively. <br>

In [114]:
mylist1 = [0,0,0,0]
q_B = mylist1
mylist2 = [0,0,0,0]
q_C = mylist2

Step 6. Using the appropriate equation for well A, 
    (a) compute the oil rate at a time of 0 years, and store it in the first index of the list, q_A. Double-check that your result for this is equal to the initial flow rate.
    (b) compute the oil rate after 1 year and store it in the second index of the list, q_A.
    (c) compute the oil rate after 2 years and store it in the third index of the list, q_A.
    (d) compute the oil rate after 3 years and store it in the fourth index of the list, q_A. <br>

In [41]:
q1 = q_i/math.exp(D_i*0)
q2 = q_i/math.exp(D_i*1)
q3 = q_i/math.exp(D_i*2)
q4 = q_i/math.exp(D_i*3) 
q_A = [q1,q2,q3,q4]

Step 7. Print out list q_A. <br>

In [42]:
print(q_A)

[5000.0, 4093.653765389909, 3351.6002301781964, 2744.058180470132]

Step 8. Using the appropriate equation for wells B and C, compute and store the corresponding four rates in q_B and q_C. This is similar to the steps in 6 (a) through (d), but with the hyperbolic and harmonic decline curve equations, respectively. <br>

In [117]:
q11 = q_i/(1+.5*D_i*0)^(2)
q22 = q_i/(1+.5*D_i*1)^(2)
q33 = q_i/(1+.5*D_i*2)^(2)
q44 = q_i/(1+.5*D_i*3)^(2)
q111 = q_i/(1+D_i*0)
q222 = q_i/(1+D_i*1)
q333 = q_i/(1+D_i*2)
q444 = q_i/(1+D_i*3)

TypeError: unsupported operand type(s) for ^: 'float' and 'int'

Step 9. Print out lists q_B and q_C <br>

In [119]:
q_B = [5000,2551.02,1543.21,1033.06]
q_C = [5000,1543.20,739.64,432.52]

Step 10. Using all that you have learned so far, compute the corresponding cumulative production (Q_A, Q_B and Q_C) using the analytical expressions in your lecture notes. Print out the four items in each of these three lists. <br>

In [129]:
Q_A = (5000.0+4093.653765389909+3351.6002301781964+2744.058180470132)
Q_B = (5000+2551.02+1543.21+1033.06)
Q_C = (5000+1543.20+739.64+432.52)
print(Q_A,Q_B,Q_C)

15189.312176038238 10127.289999999999 7715.360000000001

Step 11. Using the Trapezoidal rule for well A, compute the volume of oil (in barrels) produced between:
    (a) time = 0 and time = 1 year
    (b) time = 1 and time = 2 years
    (c) time = 2 and time = 3 years. <br>

In [136]:
f1 = lambda x: np.exp(-0**2)
f2 = lambda x: np.exp(-1**2)
f3 = lambda x: np.exp(-2**2)
f4 = lambda x: np.exp(-3**2)

Step 12. Add up the three results from 11(a), (b) and (c) to obtain the cumulative production for well A after 3 years. <br>

In [ ]:
print(f1+f2+f3+f4)

Step 13. Compare the result from Step 12 (a numerical integration) to the result stored in the last item in list Q_A (an exact integration). Compute the relative error (in %) of the numerical integration. <br>

In [ ]:
e_rel = relative error
e_t = true error
e_rel = e_t/true value